<!--<form action="/users" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label for="username">Username :</label>
  <input type="text" id="username" name="user[username]"><br><br>

  <label for="email">Email :</label>
  <input type="email" id="email" name="user[email]"><br><br>

  <label for="password">Password :</label>
  <input type="password" id="password" name="user[password]"><br><br>

  <input type="submit" value="Submit">
</form>-->

<!--<%= form_tag '/users' do |f| %>
  <%= label_tag :username, "Username :" %>
  <%= text_field_tag :username, nil, placeholder: "Your name here", required: true %>

  <%= label_tag :email, "Email :" %>
  <%= email_field_tag :email, nil, placeholder: "Your email here", required: true %>

  <%= label_tag :password, "Password :" %>
  <%= password_field_tag :password, nil, placeholder: "Your password here", required: true %>

  <%= submit_tag "Submit" %>
    
<% end %>-->
  
<%= form_with model: @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, placeholder: 'Your name here' %>

  <%= f.label :email %>
  <%= f.email_field :email, placeholder: 'Your email here' %>

  <%= f.label :password %>
  <%= f.password_field :password, placeholder: 'Your password here' %>

  <%= f.submit 'Submit' %>
<% end %>
